* {
    margin: 0;
    padding: 0;
  }
  
  
  
  .boton{
    padding:16px 30px;
    text-align:center;
    margin-bottom: 30px;
    width: 160px;
    font-size: 20px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
  }
  
  .formu {
    width: 330px;
    padding: 70px;
    margin: auto;
    margin-top: 80px;
    color: rgb(170, 12, 26);
  }
  
  .textos {
    width: 100%;
    background: black;
    padding: 8px;
    margin-bottom: 14px;
    border: 1px solid rgb(183, 15, 235);
    font-size: 18px;
    color: rgb(162, 14, 182);
  }
  
  .boton2 {
    margin-bottom: 30px;
    width: 150px;
    font-size: 20px;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }
  .formu h3 {
    font-size: 33px;
    margin-bottom: 10px;  
  }
  body{
    background-image: url('background.jpg'); 
  }
  